<h1>User Profile</h1>
<p>Welcome, <%= @user.name %></p>

<h3>Your Addresses:</h3>
<% @user.addresses.each do |address| %>
  <p><%= address.full_address %></p>
<% end %>
<%= link_to 'Add Address', new_user_address_path(@user) %>

<h3>Your Orders:</h3>
<%= link_to 'View All Orders', user_user_orders_path(@user), class: 'btn btn-link' %>
<% @user.orders.order(created_at: :desc).limit(3).each do |order| %>
  <p>Order Number: <%= order.id %>, Total: <%= '%.2f' % order.total %></p>
<% end %>

<%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %>
