<h1 class="title">Add New Address</h1>

<%= form_with model: [@user, @address], local: true, html: { class: 'form' } do |form| %>
  <div class="field">
    <%= form.label :street, class: 'label' %>
    <%= form.text_field :street, class: 'input', required: true %>
  </div>

  <div class="field">
    <%= form.label :city, class: 'label' %>
    <%= form.text_field :city, class: 'input', required: true %>
  </div>

  <div class="field">
    <%= form.label :province, class: 'label' %>
    <%= form.select :province, options_for_select([
        ['Alberta', 'Alberta'], ['British Columbia', 'British Columbia'], ['Manitoba', 'Manitoba'],
        ['New Brunswick', 'New Brunswick'], ['Newfoundland and Labrador', 'Newfoundland and Labrador'],
        ['Nova Scotia', 'Nova Scotia'], ['Ontario', 'Ontario'], ['Prince Edward Island', 'Prince Edward Island'],
        ['Quebec', 'Quebec'], ['Saskatchewan', 'Saskatchewan'], ['Northwest Territories', 'Northwest Territories'],
        ['Nunavut', 'Nunavut'], ['Yukon', 'Yukon']
      ], selected: @address.province), required: true %>
  </div>

  <div class="field">
    <%= form.label :postal_code, class: 'label' %>
    <%= form.text_field :postal_code, class: 'form-control', required: true, placeholder: "Format: A1A 1A1", pattern: "[A-Za-z]\\d[A-Za-z] ?\\d[A-Za-z]\\d" %>
  </div>

  <div class="field">
    <%= form.label :country, class: 'label' %>
    <%= form.select :country, options_for_select(['Canada'], selected: @address.country), required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Save Address" %>
  </div>

  <%= link_to 'My Profile', user_path(current_user) %>

<% end %>
