<div class="box">
  <%= form_with(url: products_path, method: :get, local: true, class: "form") do |form| %>
    <div class="field">
      <%= form.text_field :search, placeholder: "Search products...", class: "input" %>
    </div>

    <div class="field">
      <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "All Categories" },
                                 { class: "select" } %>
    </div>

    <div class="field">
      <label class="checkbox">
        <%= form.check_box :on_sale %>
        <%= form.label :on_sale, "Only Show On Sale Products" %>
      </label>
    </div>

    <div class="control">
      <%= form.submit "Search", class: "button is-primary" %>
    </div>
  <% end %>
</div>
