<h1>Available Products</h1>

<!-- Adds links for each category. Can be used on other views that need category navigation. -->
<% Category.all.each do |category| %>
  <%= link_to category.name, category_products_path(category_id: category.id) %>
<% end %>

<%= link_to 'On Sale', products_path(on_sale: true) %>
<%= link_to 'Recently Added', products_path(recently_added: true) %>
<%= link_to 'Recently Updated', products_path(recently_updated: true) %>

<% if @category %>
  <h2><%= @category.name %> Products</h2>
<% else %>
  <h2>All Products</h2>
<% end %>

<div class="products-grid">
  <% @products.each do |product| %>
    <div class="product-card">
      <% if product.images.attached? %>
        <%= image_tag product.images.first %>
      <% end %>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price) %></p>
      <%= link_to 'View Product', product_path(product), class: 'view-product-btn' %>
    </div>
  <% end %>

  <%= paginate @products %>


</div>
