<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <title>Green Thumb Gear</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>

<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Green Thumb Gear</span>
      </div>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start" style="margin-top: 5px;">
        <%= link_to 'Home', root_path, class: "button is-primary" %>
        <%= link_to 'Categories', categories_path, class: "button is-primary" %>
        <% if user_signed_in? %>
          <%= link_to 'My Profile', user_path(current_user), class: "button is-primary" %>
          <%= link_to 'Cart', cart_path, class: "button is-primary" %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, form_class: "button is-primary" %>

          <% if session[:shopping_cart].present? %>
            (<span class="tag is-info">Cart Items: <%= session[:shopping_cart].values.sum %> </span>)
          <% end %>

      <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
          <%= link_to 'Login', new_user_session_path, class: "button is-primary" %>
        <% end %>
      </div>

        <div class="navbar-end">
          <div class="navbar-item has-addons">
            <%= form_with url: search_products_path, method: :get, local: true do |form| %>
               Search <%= form.text_field :query, placeholder: 'Search...', class: 'input is-small is-primary', style: "width: 180px;" %>
                <%= form.submit 'ðŸ”', class: 'button is-info is-small' %>
            <% end %>
        </div>
      </div>
    </div>
  </nav>

  <% flash.each do |key, message| %>
    <div class="notification <%= key == 'notice' ? 'is-primary' : 'is-danger' %> flash-message">
      <%= message %>
    </div>
  <% end %>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <p>&copy; <%= Time.zone.now.year %> Green Thumb Gear. All rights reserved.</p>
</footer>
</body>
</html>