<!DOCTYPE html>
<html>
<head>
  <title>Green Thumb Gear</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
<header>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Categories', categories_path %>
    <%= form_with url: search_products_path, method: :get, local: true do |form| %>
      <%= form.text_field :query, placeholder: 'Search products...' %>
      <%= form.submit 'Search' %>
    <% end %>
    <!-- Possible spot for links to a cart and or to a user account. -->
  </nav>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <p>&copy; <%= Time.zone.now.year %> Green Thumb Gear. All rights reserved.</p>
</footer>
</body>
</html>
