<!DOCTYPE html>
<html>
<head>
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <title>Green Thumb Gear</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>
<body>
<header>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Categories', categories_path %>
    <%= link_to 'Cart', cart_path %>
    <% if session[:shopping_cart].present? %>
      (<%= session[:shopping_cart].values.sum %> items)
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'Checkout', new_order_path, class: "checkout-link" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'My Profile', user_path(current_user) %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>

  <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>

    <%= form_with url: search_products_path, method: :get, local: true do |form| %>
      <%= form.text_field :query, placeholder: 'Search products...' %>
      <%= form.submit 'Search' %>
    <% end %>
  </nav>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <p>&copy; <%= Time.zone.now.year %> Green Thumb Gear. All rights reserved.</p>
</footer>
</body>
</html>
